@import '/src/styles/main.scss';

.photosGallery {
  @include onTablet {
    display: flex;
  }
}

.mainSwiper {
  margin-bottom: 16px;

  @include onTablet {
    order: 2;
    margin: 0;
  }
}

.mainImage {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  cursor: grab;
}

.thumbsSwiper {
  display: flex;

  @include onTablet {
    margin-right: 16px;
    order: 1;
    flex: 0 0 10%;
    height: 100%;
  }

  @include onDesktop {
    flex-basis: 14%;
  }
}

.thumbSlide {
  border: 1px solid var(--elements-color);
  flex: 1 1 15%;
}

.photosGallery :global(.swiper-slide-thumb-active) {
  border-color: var(--text-color);
}

.thumbImage {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}
